@import "mixins.scss";
@import "vars.scss";

.btn {
  display: block;
  width: 230px;
  min-height: 57px;
  padding: 5px;

  font-weight: bold;
  font-size: $font_size_p_desktop_s;
  line-height: $line_height_p_desktop_xxs;
  font-family: $font_family_base;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background: transparent;
  border: 4px solid $color_white;
  cursor: pointer;

  &--buy {
    width: 232px;
    min-height: 61px;
    margin: 0 0 15px;

    @media (max-width: $width_viewport_tablet) {
      width: 183px;
    }

    @media (max-width: $width_viewport_mobile) {
      width: 100%;
    }

    &:hover {
      color: $color_white_50;

      border-image: linear-gradient(45deg, $color_red_razzmatazz 0%, $color_blue_smalt 100%);
      border-image-slice: 1;
    }

    &:focus {
      color: $color_white_50;

      border-image: linear-gradient(45deg, $color_red_razzmatazz 0%, $color_blue_smalt 100%);
      border-image-slice: 1;
      outline: none;
    }
  }

  &--subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 64px;
    min-height: 64px;

    color: $color_blue_midnight;

    border: 2px solid $color_blue_midnight;

    @media (max-width: $width_viewport_tablet) {
      min-height: 64px;
    }
  }

  &--promo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    min-height: 70px;

    @media (max-width: $width_viewport_tablet) {
      width: 202px;
      min-height: 39px;

      font-size: $font_size_p_tablet_s;
      line-height: $line_height_p_tablet_xxxs;

      border: 2px solid $color_white;
    }

    @media (max-width: $width_viewport_mobile) {
      width: 100%;
    }

    &:hover {
      color: $color_blue_cornflower;

      border-color: $color_blue_cornflower;
      opacity: 0.8;
    }

    &:focus {
      color: $color_blue_cornflower;

      border-color: $color_blue_cornflower;
      outline: none;
      opacity: 0.8;
    }
  }

  &--send {
    width: 410px;
    min-height: 54px;

    font-size: $font_size_p_desktop_xs;
    line-height: $line_height_p_desktop_xs;

    border: 3px solid $color_white;

    @media (max-width: $width_viewport_tablet) {
      width: 100%;
    }

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      outline: none;
      opacity: 0.6;
    }
  }
}
