@import "mixins.scss";
@import "vars.scss";

.contact__content {
  display: flex;

  @media (max-width: $width_viewport_tablet) {
    display: block;
  }
}

.contact__background-form {
  flex-grow: 2;

  background-color: $color_blue_midnight;
}

.contact__background-column {
  flex-grow: 2;

  background-color: $color_white;
  border-top: 1px solid $color_gray_light;

  @media (max-width: $width_viewport_tablet) {
    border: none;
  }
}

.contact__column {
  width: 580px;
  padding: 66px 0 46px 120px;

  @media (max-width: $width_viewport_tablet) {
    width: 630px;
    max-width: 1160px;
    margin: 0 auto;
    padding: 70px 32px 42px 64px;
  }

  @media (max-width: 640px) {
    width: 100%;
    margin: 0 auto;
    padding: 70px 15px 42px;
  }

  & h2 {
    @include heading_h2;

    flex-basis: 100%;
    margin: 0 0 42px;

    font-size: $font_size_h2_desktop_s;
    line-height: $line_height_h2_desktop_s;
    font-family: $font_family_second_base, $font_family_extra;
    letter-spacing: 0.03em;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 33px;

      font-size: $font_size_h2_tablet_s;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 35px;

      font-size: $font_size_h2_mobile_s;
    }
  }
}

.contact__list {
  @include list;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  line-height: $line_height_p_desktop_xxl;

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column-reverse;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 51%;

    width: 1px;
    height: calc(100% - 30px);

    background: $color_gray_light;
    transform: translate(-50%, 0);

    @media (max-width: $width_viewport_tablet) {
      left: 50%;

      height: calc(100% - 34px);
    }

    @media (max-width: $width_viewport_mobile) {
      display: none;
    }
  }
}

.contact__item {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0 0 17px;

  font-size: $font_size_p_desktop_xs;

  @media (max-width: $width_viewport_tablet) {
    width: 220px;
    margin: 0 0 20px;

    font-size: $font_size_p_tablet_xxxxs;
  }

  @media (max-width: $width_viewport_mobile) {
    &:first-child {
      order: 1;
    }

    &:last-child {
      order: -1;
    }
  }

  & span {
    flex-basis: 100%;
    margin: 0 0 4px;

    font-weight: $font_weight_bold;
    font-size: $font_size_p_desktop_xxs;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_p_tablet_xxxxxs;
    }

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 5px;
    }
  }

  & p {
    margin: 0;
  }

  &:nth-of-type(2n) {
    margin-left: calc(100% - 180px * 2);

    @media (max-width: $width_viewport_tablet) {
      margin-left: calc(100% - 220px * 2);
    }

    @media (max-width: $width_viewport_mobile) {
      margin-left: 0;
    }
  }
}

.contact__address {
  font-style: normal;
}

.contact__link-email {
  color: $color_blue_midnight;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

.contact__link-phone {
  color: $color_blue_midnight;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }
}
