@import "mixins.scss";
@import "vars.scss";

.footer {
  margin-top: auto;
  padding: 39px 0;

  background-color: $color_green_dark;

  @media (max-width: $width_viewport_tablet) {
    padding: 42px 0 44px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 45px 0 49px;
  }
}

.footer__inner {
  @include inner;
}

.footer__logo-link {
  display: block;
  width: 10%;
  margin: 0 21% 0 0;
  padding: 4px 0 0;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxxxxs;
  line-height: $line_height_p_desktop_s;
  font-family: $font_family_second_base;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @media (max-width: $width_viewport_tablet) {
    padding: 4px 0 0 5px;

    font-size: $font_size_p_tablet_xxxxxxs;
  }

  @media (max-width: 960px) {
    margin-right: 14%;
  }

  @media (max-width: 860px) {
    width: 13%;
    margin-right: 8%;
  }

  @media (max-width: $width_viewport_mobile) {
    width: 27%;
    margin: 0 0 -21px;
    padding: 4px 0 0;

    font-size: $font_size_p_mobile_xxxxxs;
  }

  &:hover {
    color: $color_blue_cornflower;

    opacity: 0.8;
  }

  &:focus {
    color: $color_blue_cornflower;

    outline: none;
    opacity: 0.8;
  }
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  width: 43%;

  @media (max-width: 1055px) {
    width: 48%;
  }

  @media (max-width: 960px) {
    width: 61%;
  }

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    width: 40%;
    max-height: 130px;
  }

  @media (max-width: 640px) {
    width: 50%;
  }

  @media (max-width: 520px) {
    width: 60%;
  }

  @media (max-width: 520px) {
    width: 75%;
  }

  @media (max-width: 320px) {
    width: 100%;
  }
}

.footer__navigation-link {
  display: block;
  margin: 0 30px 0 0;
  padding: 5px;

  font-size: $font_size_p_desktop_xs;
  line-height: $line_height_p_desktop_xs;
  color: $color_white;

  @media (max-width: $width_viewport_tablet) {
    margin: 0 20px 0 0;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 23px;
    padding: 0;

    font-size: $font_size_p_mobile_xxxs;
    line-height: $line_height_p_mobile_xxxs;

    &:first-child {
      order: 2;
    }

    &:nth-child(2n):nth-child(-n+3) {
      order: 1;
    }

    &:nth-child(n+3):nth-child(2n):nth-child(-n+4) {
      order: -1;
    }

    &:last-child {
      order: -2;
    }

    &:nth-child(n+3) {
      margin-left: 24px;
    }
  }

  &:hover {
    color: $color_blue_cornflower;

    opacity: 0.8;
  }

  &:focus {
    color: $color_blue_cornflower;

    outline: none;
    opacity: 0.8;
  }
}

.footer__list-social {
  @include list;

  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  align-items: center;
  min-width: 9%;
  margin: 0 0 0 auto;

  @media (max-width: $width_viewport_tablet) {
    min-width: 15%;
  }

  @media (max-width: $width_viewport_mobile) {
    width: 100%;
    min-width: auto;
    margin: 0;
    padding: 13px 0 0;
  }
}

.footer__item-social {
  &:not(:last-child) {
    margin: 0 25px 0 0;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 19px 0 0;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 35px 0 0;
    }
  }

  & svg {
    @media (max-width: $width_viewport_mobile) {
      width: 27px;
      height: 27px;
    }
  }

  &:first-child svg {
    @media (max-width: $width_viewport_mobile) {
      width: 32px;
      height: 17px;
    }
  }

  &:last-child svg {
    @media (max-width: $width_viewport_mobile) {
      width: 14px;
      height: 27px;
    }
  }
}

.footer__social-link {
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }

  &:focus {
    outline: none;
    transform: scale(1.2);
    opacity: 0.8;
  }
}
