.gym {
  position: relative;
  width: 97%;
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 60px;
  padding-top: 120px;
  padding-bottom: 235px;
  display: flex;
  justify-content: space-between;
}

.gym__wrapper {
  width: 32%;
  padding-top: 6px;
}

.gym h2 {
  margin-bottom: 8px;
  font-family: $font-title;
  @include font (49px, 49px);
  color: $color-text;
  letter-spacing: 0.03em;
}

.gym h3 {
  margin-top: 8px;
  margin-bottom: 38px;
  @include font (18px, 27px);
  color: $color-text;
}

.gym p {
  margin: 10px 0px;
  @include font (16px, 24px);
  color: $color-text;
  font-weight: 300;
}

.gym__img {
  width: 660px;
  height: 401px;
}

.gym__video {
  position: absolute;
  top: 408px;
  left: calc(50% - 144px);
  width: 364px;
  height: 228px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 364px;
    height: 228px;
    background-color: rgba(20, 54, 122, 0.5);
  }
}

.gym__video-play {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2);
    opacity: 1;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .gym {
    width: 91%;
    padding-left: 0;
    padding-top: 58px;
    padding-bottom: 184px;
    flex-direction: column;
  }

  .gym p:not(:first-of-type) {
    display: none;
  }

  .gym__wrapper {
    width: 502px;
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
  }

  .gym h2 {
    @include font (42px, 42px);
  }

  .gym h3 {
    margin-bottom: 36px;
  }

  .gym__img {
    width: 678px;
    height: 345px;
    margin: 0 auto;
  }

  .gym__video {
    top: 588px;
    left: calc(50% - 133.5px);
    width: 266px;
    height: 167px;

    &::before {
      width: 266px;
      height: 167px;
    }
  }

  .gym__video img {
    width: 266px;
    height: 167px;
  }

  .gym__video-play {
    top: calc(50% - 36.5px);
    left: calc(50% - 36.5px);
    width: 73px;
    height: 73px;
    background-image: url("../img/icon-play-tablet.svg");
  }
}

@media (max-width: $mobile-width) {
  .gym {
    width: 100%;
    min-width: 320px;
    padding-top: 35px;
    padding-bottom: 72px;
  }

  .gym__wrapper {
    width: 91%;
    min-width: 307px;
    text-align: left;
    margin-bottom: 23px;
  }

  .gym h2 {
    margin-bottom: 7px;
    @include font (32px, 32px);
  }

  .gym h3 {
    margin-top: 7px;
    margin-bottom: 23px;
  }

  .gym p {
    width: 90%;
  }

  .gym__img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .gym__video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 167px;

    &::before {
      width: 100%;
      min-width: 320px;
      height: 167px;
    }
  }

  .gym__video img {
    width: 100%;
    min-width: 320px;
    height: 167px;
  }

  .gym__video-play {
    top: calc(50% - 36.5px);
    left: calc(50% - 36.5px);
    width: 73px;
    height: 73px;
    background-image: url("../img/icon-play-tablet.svg");
  }
}
