@import "mixins.scss";
@import "vars.scss";

.header {
  padding: 30px 0;

  @media (max-width: $width_viewport_tablet) {
    padding: 40px 0 20px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 19px 0 20px;
  }
}

.header__inner {
  @include inner;
}

.header__row {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  display: block;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxxxxs;
  line-height: $line_height_p_desktop_s;
  font-family: $font_family_second_base;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  cursor: pointer;

  @media (max-width: $width_viewport_tablet) {
    font-size: $font_size_p_tablet_xxxxxxs;
  }

  @media (max-width: $width_viewport_mobile) {
    font-size: $font_size_p_mobile_xxxxxs;
  }

  &:hover {
    color: $color_blue_cornflower;

    opacity: 0.8;
  }

  &:focus {
    color: $color_blue_cornflower;

    outline: none;
    opacity: 0.8;
  }
}

.header__navigation-link {
  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxxxxs;
  line-height: $line_height_p_desktop_s;
  font-family: $font_family_second_base;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: $width_viewport_tablet) {
    font-size: $font_size_p_tablet_xxxxxxs;
  }

  @media (max-width: $width_viewport_mobile) {
    font-size: $font_size_p_mobile_xxxxxs;
  }

  &:hover {
    color: $color_blue_cornflower;

    opacity: 0.8;
  }

  &:focus {
    color: $color_blue_cornflower;

    outline: none;
    opacity: 0.8;
  }
}
