@import "mixins.scss";
@import "vars.scss";

.offer {
  padding: 87px 0 20px;

  @media (max-width: $width_viewport_tablet) {
    padding: 94px 0 20px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 72px 0 5px;
  }
}

.offer__inner {
  @include inner;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $width_viewport_mobile) {
    display: block;
  }

  & h2 {
    @include heading_h2;

    flex-basis: 100%;
    margin: 0 0 51px;

    font-size: $font_size_h2_desktop_s;
    line-height: $line_height_h2_desktop_s;
    font-family: $font_family_second_base, $font_family_extra;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 41px;

      font-size: $font_size_h2_tablet_s;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 43px;

      font-size: $font_size_h2_mobile_s;
    }
  }
}

.offer__list-year {
  @include list;

  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  width: 48%;
  margin: 0 3.6% 40px 0;

  @media (max-width: $width_viewport_tablet) {
    flex-basis: 100%;
    width: 100%;
    margin: 0 0 30px;
  }

  @media (max-width: $width_viewport_mobile) {
    display: block;
  }
}

.offer__item-year {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  width: 50%;

  @media (max-width: $width_viewport_mobile) {
    flex-basis: auto;
    align-items: center;
    width: 100%;
  }

  & h3 {
    @include heading_h3;

    margin: 0;

    font-weight: $font_weight_bold;
    font-size: $font_size_p_desktop_xxxxxxs;
    line-height: 1;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_p_tablet_xxxxxxxs;
      line-height: 1.3;
    }
  }

  & p {
    @include indent_p;

    margin: 0 0 23px;

    font-weight: $font_weight_bold;
    font-size: $font_size_p_desktop_xxxl;
    line-height: $line_height_p_desktop_s;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 18px;

      font-size: $font_size_p_tablet_xxl;
      line-height: $line_height_p_tablet_s;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 13px;
    }
  }

  & p + p {
    margin: 0 0 190px;

    font-weight: $font_weight_normal;
    font-size: $font_size_p_desktop_xxxs;
    line-height: $line_height_p_desktop_xl;

    @media (max-width: $width_viewport_tablet) {
      width: 190px;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 35px;

      text-align: center;
    }
  }

  &--color {
    padding: 39px 44px 45px;

    background-color: $color_red_torch;

    @media (max-width: $width_viewport_tablet) {
      flex-basis: 41%;
      padding: 36px 41px 45px 49px;
    }

    @media (max-width: $width_viewport_mobile) {
      flex-basis: auto;
      padding: 36px 41px 42px 43px;
    }
  }

  &--picture {
    justify-content: flex-end;

    background: linear-gradient(to right, $color_blue_cornflower 4%, $color_blue_royal 87%);

    @media (max-width: $width_viewport_tablet) {
      position: relative;

      flex-basis: 59%;

      background-image: url("../img/offer-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 120px;
        height: 100%;

        background: linear-gradient(to bottom, #538ee6, #5490e6 28%, #5a9ce8 40%, #6cadea 62%, #95c1ef 80%, #bad5f3);

        @media (max-width: $width_viewport_mobile) {
          width: 224px;

          background: linear-gradient(to bottom, #538ee6, #5490e6 33%, #5a9ce8 43%, #6cadea 65%, #95c1ef 90%, #bad5f3 106%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        width: 120px;
        height: 100%;

        background: linear-gradient(to bottom, #3f67d9, #4776e2 20%, #5087e4 42%, #5b9de8 60%, #88bbed 80%, #b6d4f3);

        @media (max-width: $width_viewport_mobile) {
          width: 224px;

          background: linear-gradient(to bottom, #3f67d9, #4776e2 22%, #5087e4 45%, #5b9de8 66%, #88bbed 89%, #b6d4f3 104%);
        }
      }
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-image: url("../img/offer-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
    }

    @media (max-width: $width_viewport_mobile) {
      background-image: url("../img/offer-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-image: url("../img/offer-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
    }
  }

  & img {
    max-width: 280px;
    height: 462px;

    @media (max-width: $width_viewport_tablet) {
      height: inherit;

      visibility: hidden;
    }

    @media (max-width: $width_viewport_mobile) {
      height: 299px;
    }
  }
}

.offer__link-year {
  position: relative;

  align-self: flex-start;
  padding: 0 0 4px;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xs;
  line-height: $line_height_p_desktop_xs;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $width_viewport_mobile) {
    align-self: auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background: $color_white;
  }

  &:hover {
    color: $color_blue_cornflower;

    opacity: 0.8;
  }

  &:focus {
    color: $color_blue_cornflower;

    outline: none;
    opacity: 0.8;
  }

  &:hover::after {
    background: $color_blue_cornflower;
    opacity: 0.8;
  }

  &:focus::after {
    background: $color_blue_cornflower;
    opacity: 0.8;
  }
}

.offer__list-extra {
  @include list;

  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  width: 48%;

  @media (max-width: $width_viewport_tablet) {
    flex-basis: 100%;
    width: 100%;
  }

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column;
  }
}

.offer__item-extra {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 24px 31px 31px;

  border: 7px solid transparent;
  border-image: linear-gradient(170deg, $color_red_razzmatazz 0%, $color_blue_smalt 100%);
  border-image-slice: 1;

  @media (max-width: $width_viewport_tablet) {
    flex-basis: 48%;
    margin: 0 0 30px;
  }

  @media (max-width: $width_viewport_mobile) {
    align-items: center;
    padding: 35px 31px 36px;
  }

  & h3 {
    @include heading_h3;

    margin: 0 0 10px;

    font-weight: $font_weight_bold;
    font-size: $font_size_h3_desktop_l;
    line-height: $line_height_h2_desktop_s;
    color: $color_blue_midnight_light;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_h3_tablet_l;
      line-height: $line_height_p_tablet_s;
    }
  }

  & p {
    @include indent_p;

    margin: 0 0 68px;

    font-size: $font_size_p_desktop_xxs;
    line-height: $line_height_p_desktop_l;
    color: $color_blue_midnight_light;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_p_tablet_xxxs;
      line-height: $line_height_p_tablet_l;
    }

    @media (max-width: $width_viewport_mobile) {
      text-align: center;
    }
  }

  &:nth-child(2n+1) {
    @media (max-width: $width_viewport_tablet) {
      margin: 0 auto 30px 0;

      & p {
        width: 155px;
        margin: 0 0 47px;
      }
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 30px 0;

      & p {
        margin: 0 0 28px;
      }
    }
  }

  &:nth-child(2n+2) {
    & p {
      @media (max-width: $width_viewport_mobile) {
        width: 160px;
        margin: 0 0 33px;
      }
    }
  }
}

.offer__link {
  position: relative;

  align-self: flex-start;
  padding: 0 0 4px;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_s;
  line-height: $line_height_p_desktop_xxs;
  color: $color_blue_midnight_light;
  text-transform: uppercase;
  letter-spacing: 0.05em;


  @media (max-width: $width_viewport_mobile) {
    align-self: auto;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background: $color_blue_midnight_light;
  }

  &:hover {
    color: $color_blue_cornflower;

    opacity: 0.8;
  }

  &:focus {
    color: $color_blue_cornflower;

    outline: none;
    opacity: 0.8;
  }

  &:hover::after {
    background: $color_blue_cornflower;
    opacity: 0.8;
  }

  &:focus::after {
    background: $color_blue_cornflower;
    opacity: 0.8;
  }
}
