.sales-list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $color-dark-navy;
  @include font(16px, 22px);
}

.sales-list__item {
  width: 100%;
  min-height: 211px;
  margin-bottom: 40px;
  padding: 7px 25px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 7px solid transparent;
  border-image: linear-gradient(145deg, #D10A42, #00359F);
  border-image-slice: 1;
}

.sales-list__item:nth-last-child(1) {
  margin-bottom: 0;
}

.sales-list__item h3 {
  margin-top: 13px;
  margin-bottom: 1px;
  @include font(26px, 34px);
  font-weight: 700;
}

.sales-list__item p {
  margin: 5px 0;
}

.sales-list__item a {
  margin-top: auto;
  text-transform: uppercase;
  color: $color-text;
}

@media (max-width: $tablet-width) {
  .sales-list__item {
    width: 48%;
    padding: 7px 30px;
    padding-bottom: 27px;
  }

  .sales-list__item:nth-last-child(1) {
    margin-bottom: 40px;
  }
}

@media (max-width: $mobile-width) {
  .sales-list__item {
    width: 100%;
    display: inline-table;
    margin-bottom: 29px;
    padding: 18px 27px;
    padding-bottom: 27px;
    text-align: center;
  }
}
