// цвета

$color_white: #ffffff;
$color_white_50: rgba(255, 255, 255, 0.5);
$color_white_dark: #f8f9fc;
//
$color_black: #000000;
//
$color_gray_lightest: #e8e8e8;
$color_gray_leghten: #afafaf;
$color_gray_light: #74819c;
$color_gray: #666666;
//
$color_blue_link_water: rgba(28, 51, 116, 0.2); // #d2d6e3
$color_blue_bali_hai: rgba(16, 38, 84, 0.89); // #8893aa
$color_blue: #0000ff;
$color_blue_cerulean: #2e35ac;
$color_blue_chambray: #495a7d;
$color_blue_egyptian: #103aae;
$color_blue_midnight_light: #1c3374;
$color_blue_midnight: #102654;
$color_blue_night: #14367a;
$color_blue_haze: #b6bdcc;
$color_blue_prussian: #010245;
// цвета градиент
$color_blue_smalt: #00359f;
$color_blue_royal: #3e66d8;
$color_blue_cornflower: #518ae5;
$color_blue_paleCornflower: #b7d3f3;
//
$color_red: #ff0000;
$color_red_torch: #ed0233;
$color_red_razzmatazz: #d10a42;
$color_red_razzmatazz_20: rgba(82, 4, 27, 0.2);
//
$color_green: #008000;
$color_green_dark: #030a1a;
//

//шрифты

$font_size_base: 16px;
$font_weight_bold: 700;
$font_weight_normal: 400;
$font_weight_light: 300;
$font_family_base: "Roboto Condensed";
$font_family_second_base: "Bebas Neue";
$font_family_extra: "Tahoma", sans-serif;
$line_height: 1.46;

// desktop font-size

$font_size_h1_desktop: 109px;
//
$font_size_h2_desktop_l: 90px;
$font_size_h2_desktop: 70px; // middle
$font_size_h2_desktop_s: 49px;
//
$font_size_h3_desktop_l: 26px;
$font_size_h3_desktop: 23px; // middle
$font_size_h3_desktop_xs: 22px;
$font_size_h3_desktop_s: 20px;
//
$font_size_p_desktop_xxxxxl: 74px;
$font_size_p_desktop_xxxxl: 71px;
$font_size_p_desktop_xxxl: 70px;
$font_size_p_desktop_xxl: 60px;
$font_size_p_desktop_xl: 49px;
$font_size_p_desktop_l: 40px;
$font_size_p_desktop: 38px; // middle
$font_size_p_desktop_xxxxxxs: 28px;
$font_size_p_desktop_xxxxxs: 26px;
$font_size_p_desktop_xxxxs: 20px;
$font_size_p_desktop_xxxs: 18px;
$font_size_p_desktop_xxs: 16px;
$font_size_p_desktop_xs: 14px;
$font_size_p_desktop_s: 12px;

// desktop line-height

$line_height_h1_desktop: 1;
//
$line_height_h2_desktop_l: 1.3;
$line_height_h2_desktop: 1.15; // middle
$line_height_h2_desktop_xs: 1.1;
$line_height_h2_desktop_s: 1;
//
$line_height_h3_desktop_l: 5.76;
$line_height_h3_desktop: 2.38; // middle
$line_height_h3_desktop_xxs: 1.5;
$line_height_h3_desktop_xs: 1.15;
$line_height_h3_desktop_s: 1.11;
//
$line_height_p_desktop_xxxxl: 1.57;
$line_height_p_desktop_xxxl: 1.55;
$line_height_p_desktop_xxl: 1.5;
$line_height_p_desktop_xl: 1.38;
$line_height_p_desktop_l: 1.37;
$line_height_p_desktop: 1.31; // middle
$line_height_p_desktop_xxxs: 1.2;
$line_height_p_desktop_xxs: 1.16;
$line_height_p_desktop_xs: 1.14;
$line_height_p_desktop_s: 1;

// tablet font-size

$font_size_h1_tablet: 86px;
//
$font_size_h2_tablet_l: 52px;
$font_size_h2_tablet: 47px; // middle
$font_size_h2_tablet_s: 42px;
//
$font_size_h3_tablet_l: 26px;
$font_size_h3_tablet: 23px; // middle
$font_size_h3_tablet_xs: 22px;
$font_size_h3_tablet_s: 20px;
//
$font_size_p_tablet_xxxl: 74px;
$font_size_p_tablet_xxl: 70px;
$font_size_p_tablet_xl: 60px;
$font_size_p_tablet_l: 58px;
$font_size_p_tablet: 34px; // middle
$font_size_p_tablet_xxxxxxxs: 28px;
$font_size_p_tablet_xxxxxxs: 24px;
$font_size_p_tablet_xxxxxs: 20px;
$font_size_p_tablet_xxxxs: 18px;
$font_size_p_tablet_xxxs: 16px;
$font_size_p_tablet_xxs: 14px;
$font_size_p_tablet_xs: 12px;
$font_size_p_tablet_s: 10px;

// tablet line-height

$line_height_h1_tablet: 1;
//
$line_height_h2_tablet: 1;
//
$line_height_h3_tablet_l: 5.7;
$line_height_h3_tablet: 2.77; // middle
$line_height_h3_tablet_xs: 1.5;
$line_height_h3_tablet_s: 1.11;
//
$line_height_p_tablet_xxxxl: 1.57;
$line_height_p_tablet_xxxl: 1.55;
$line_height_p_tablet_xxl: 1.5;
$line_height_p_tablet_xl: 1.38;
$line_height_p_tablet_l: 1.37;
$line_height_p_tablet: 1.31; // middle
$line_height_p_tablet_xxxs: 1.2;
$line_height_p_tablet_xxs: 1.16;
$line_height_p_tablet_xs: 1.14;
$line_height_p_tablet_s: 1;

// mobile font-size

$font_size_h1_mobile: 78px;
//
$font_size_h2_mobile_l: 52px;
$font_size_h2_mobile: 42px; // middle
$font_size_h2_mobile_s: 32px;
//
$font_size_h3_mobile: 26px;
$font_size_h3_mobile: 23px; // middle
$font_size_h3_mobile: 22px;
$font_size_h3_mobile: 20px;
//
$font_size_p_mobile_xxxl: 74px;
$font_size_p_mobile_xxl: 70px;
$font_size_p_mobile_xl: 58px;
$font_size_p_mobile_l: 48px;
$font_size_p_mobile: 33px; // middle
$font_size_p_mobile_xxxxxxxs: 28px;
$font_size_p_mobile_xxxxxxs: 24px;
$font_size_p_mobile_xxxxxs: 20px;
$font_size_p_mobile_xxxxs: 18px;
$font_size_p_mobile_xxxs: 16px;
$font_size_p_mobile_xxs: 14px;
$font_size_p_mobile_xs: 12px;
$font_size_p_mobile_s: 10px;

// mobile line-height

$line_height_h1_mobile: 1;
//
$line_height_h2_mobile: 1;
//
$line_height_h3_mobile_l: 5.7;
$line_height_h3_mobile: 2.4; // middle
$line_height_h3_mobile_xxs: 1.5;
$line_height_h3_mobile_xs: 1.3;
$line_height_h3_mobile_s: 1.09;
//
$line_height_p_mobile_xxxxl: 1.57;
$line_height_p_mobile_xxxl: 1.55;
$line_height_p_mobile_xxl: 1.5;
$line_height_p_mobile_xl: 1.38;
$line_height_p_mobile_l: 1.37;
$line_height_p_mobile: 1.3; // middle
$line_height_p_mobile_xxxxs: 1.2;
$line_height_p_mobile_xxxs: 1.18;
$line_height_p_mobile_xxs: 1.16;
$line_height_p_mobile_xs: 1.14;
$line_height_p_mobile_s: 1;

// отступы

$padding_desktop: 0 40px;
$padding_tablet: 0 40px;
$padding_mobile: 0 15px;

// ширины контента

$width_desktop: 1160px;
$width_tablet: 100%;
$width_mobile: 100%;

// вьюпорты

$width_viewport_desktop_l: 1366px;
$width_viewport_desktop: 1365px;
$width_viewport_tablet: 1199px;
$width_viewport_mobile: 767px;

// pетина

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;
